<div id="two-minimap" class="win-content">
    <header class="win-head">
        <h2>Minimap</h2>
        <ul class="list-btn">
            <li><a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a></li>
        </ul>
    </header>

    <div class="win-main" scrollbar="">
        <div class="tabs tabs-bg">
            <div class="tabs-three-col">
                <div class="tab" ng-click="selectTab('minimap')" ng-class="{true:'tab-active', false:''}[selectedTab == 'minimap']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'minimap'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'minimap'}">{{ 'minimap' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>

                <div class="tab" ng-click="selectTab('highlights')" ng-class="{true:'tab-active', false:''}[selectedTab == 'highlights']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'highlights'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'highlights'}">{{ 'highlights' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>

                <div class="tab" ng-click="selectTab('settings')" ng-class="{true:'tab-active', false:''}[selectedTab == 'settings']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'settings'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'settings'}">{{ 'settings' | i18n:loc.ale:textObjectCommon }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="selectedTab === 'minimap'" class="minimap-container">
        </div>
        
        <div class="box-paper">
            <div class="scroll-wrap">
                <div ng-show="selectedTab === 'highlights'">
                    <h5 class="twx-section">{{ 'add' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="30%">
                            <col>
                            <col width="4%">
                            <col width="4%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><div auto-complete="autoComplete"></div></td>
                                <td class="text-center"><span ng-show="selectedHighlight" class="icon-26x26-rte-{{ selectedHighlight.type }}"></span> {{ selectedHighlight.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="openColorPalette()" ng-style="{'background-color': selectedColor }" tooltip="" tooltip-content="{{ 'color-picker' | i18n:loc.ale:textObject }}"></div></td>
                                <td><span class="btn-orange icon-26x26-plus" ng-click="addHighlight()" tooltip="" tooltip-content="{{ 'add' | i18n:loc.ale:textObject }}"></span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="twx-section">{{ 'highlights' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="4%">
                            <col>
                            <col width="4%">
                            <col width="4%">
                        </colgroup>
                        <tbody>
                            <tr ng-repeat="village in highlights.village">
                                <td><span class="icon-26x26-rte-village"></span></td>
                                <td>{{ village.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': village.color }"></div></td>
                                <td><a class="size-26x26 btn-red icon-20x20-close" ng-click="removeHighlight(village)" tooltip="" tooltip-content="{{ 'remove' | i18n:loc.ale:textObject }}"></a></td>
                            </tr>
                            <tr ng-repeat="character in highlights.character">
                                <td><span class="icon-26x26-rte-character"></span></td>
                                <td>{{ character.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': character.color }"></div></td>
                                <td><a class="size-26x26 btn-red icon-20x20-close" ng-click="removeHighlight(character)" tooltip="" tooltip-content="{{ 'remove' | i18n:loc.ale:textObject }}"></a></td>
                            </tr>
                            <tr ng-repeat="tribe in highlights.tribe">
                                <td><span class="icon-26x26-rte-tribe"></span></td>
                                <td>{{ tribe.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': tribe.color }"></div></td>
                                <td><a class="size-26x26 btn-red icon-20x20-close" ng-click="removeHighlight(tribe)" tooltip="" tooltip-content="{{ 'remove' | i18n:loc.ale:textObject }}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="selectedTab === 'settings'">
                </div>
            </div>
        </div>
    </div>
</div>
