<div id="two-minimap" class="win-content two-window">
    <header class="win-head">
        <h2>Minimap</h2>
        <ul class="list-btn">
            <li><a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a></li>
        </ul>
    </header>

    <div class="win-main" scrollbar="">
        <div class="tabs tabs-bg">
            <div class="tabs-three-col">
                <div class="tab" ng-click="selectTab('minimap')" ng-class="{true:'tab-active', false:''}[selectedTab == 'minimap']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'minimap'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'minimap'}">{{ 'minimap' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>

                <div class="tab" ng-click="selectTab('highlights')" ng-class="{true:'tab-active', false:''}[selectedTab == 'highlights']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'highlights'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'highlights'}">{{ 'highlights' | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>

                <div class="tab" ng-click="selectTab('settings')" ng-class="{true:'tab-active', false:''}[selectedTab == 'settings']">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === 'settings'}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== 'settings'}">{{ 'settings' | i18n:loc.ale:textObjectCommon }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="selectedTab === 'minimap'" class="minimap-container">
        </div>
        
        <div class="box-paper footer">
            <div class="scroll-wrap">
                <div ng-show="selectedTab === 'highlights'">
                    <h5 class="twx-section">{{ 'add' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="30%">
                            <col>
                            <col width="4%">
                            <col width="4%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><div auto-complete="autoComplete"></div></td>
                                <td class="text-center"><span ng-show="selectedHighlight" class="icon-26x26-rte-{{ selectedHighlight.type }}"></span> {{ selectedHighlight.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="openColorPalette()" ng-style="{'background-color': selectedColor }" tooltip="" tooltip-content="{{ 'tooltip_pick_color' | i18n:loc.ale:textObject }}"></div></td>
                                <td><span class="btn-orange icon-26x26-plus" ng-click="addHighlight()" tooltip="" tooltip-content="{{ 'add' | i18n:loc.ale:textObject }}"></span></td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="twx-section">{{ 'highlights' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="4%">
                            <col>
                            <col width="4%">
                            <col width="4%">
                        </colgroup>
                        <tbody>
                            <tr ng-repeat="village in highlights.village">
                                <td><span class="icon-26x26-rte-village"></span></td>
                                <td>{{ village.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': village.color }"></div></td>
                                <td><a class="size-26x26 btn-red icon-20x20-close" ng-click="removeHighlight(village)" tooltip="" tooltip-content="{{ 'remove' | i18n:loc.ale:textObject }}"></a></td>
                            </tr>
                            <tr ng-repeat="character in highlights.character">
                                <td><span class="icon-26x26-rte-character"></span></td>
                                <td>{{ character.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': character.color }"></div></td>
                                <td><a class="size-26x26 btn-red icon-20x20-close" ng-click="removeHighlight(character)" tooltip="" tooltip-content="{{ 'remove' | i18n:loc.ale:textObject }}"></a></td>
                            </tr>
                            <tr ng-repeat="tribe in highlights.tribe">
                                <td><span class="icon-26x26-rte-tribe"></span></td>
                                <td>{{ tribe.name }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': tribe.color }"></div></td>
                                <td><a class="size-26x26 btn-red icon-20x20-close" ng-click="removeHighlight(tribe)" tooltip="" tooltip-content="{{ 'remove' | i18n:loc.ale:textObject }}"></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-show="selectedTab === 'settings'">
                    <h5 class="twx-section">{{ 'misc' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="60%">
                            <col>
                            <col width="56px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>{{ 'settings_right_click_action' | i18n:loc.ale:textObject }}</td>
                                <td colspan="3"><div select="" list="actionTypes" selected="settings[SETTINGS.RIGHT_CLICK_ACTION]" drop-down="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_show_cross' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.SHOW_CROSS]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_show_demarcations' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.SHOW_DEMARCATIONS]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_show_barbarians' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.SHOW_BARBARIANS]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_show_ghost_villages' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.SHOW_GHOST_VILLAGES]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_show_only_custom_highlights' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.SHOW_ONLY_CUSTOM_HIGHLIGHTS]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_highlight_own' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.HIGHLIGHT_OWN]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_highlight_selected' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.HIGHLIGHT_SELECTED]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2">{{ 'settings_highlight_diplomacy' | i18n:loc.ale:textObject }}</td>
                                <td><div switch-slider="" value="settings[SETTINGS.HIGHLIGHT_DIPLOMACY]" vertical="false" size="'56x28'" enabled="true"></div></td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="twx-section">{{ 'colors_misc' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col>
                            <col width="29px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>{{ 'settings_colors_background' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_BACKGROUND] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_province' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_PROVINCE] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_continent' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_CONTINENT] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_cross' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_CROSS] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_quick_highlight' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_QUICK_HIGHLIGHT] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_player' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_PLAYER] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_selected' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_SELECTED] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_ghost' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_GHOST] }"></div></td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="twx-section">{{ 'colors_diplomacy' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col>
                            <col width="29px">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>{{ 'settings_colors_tribe' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_TRIBE] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_ally' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_ALLY] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_pna' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_FRIENDLY] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_enemy' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_ENEMY] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_other' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_UGLY] }"></div></td>
                            </tr>
                            <tr>
                                <td>{{ 'settings_colors_barbarian' | i18n:loc.ale:textObject }}</td>
                                <td><div class="color-container box-border-dark" ng-click="" ng-style="{'background-color': settings[SETTINGS.COLOR_BARBARIAN] }"></div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="win-foot" ng-show="selectedTab === 'settings'">
        <ul class="list-btn list-center">
            <li>
                <a href="#" class="btn-border btn-orange" ng-click="resetSettings()">{{ 'reset' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
            <li>
                <a href="#" class="btn-border btn-orange" ng-click="saveSettings()">{{ 'save' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
        </ul>
    </footer>
</div>
