#map-tooltip {
    z-index: 1000;
}

#two-minimap {
    .minimap {
        position: absolute;
        left: 0;
        top: 38px;
        z-index: 5;
    }

    .cross {
        position: absolute;
        left: 0;
        top: 38px;
        z-index: 6;
    }

    .box-paper:not(.footer) {
        .scroll-wrap {
            margin-bottom: 40px;
        }
    }

    // game's native <select>
    span.select-wrapper {
        width: 100%;
    }

    .add-highlight input {
        width: 100%;
    }

    .open-profile {
        font-weight: 500;
        color: #5d3b17;
        padding: 0 5px;
    }

    .open-profile:hover {
        text-shadow: -1px 1px 0px #e0cc97;
    }

    .settings td:first-child {
        padding: 0 5px;
    }

    .highlights {
        .color-container {
            margin: 1px;
        }
    }
}
