<div id="two-example-module" class="win-content two-window">
    <header class="win-head">
        <h2>Example Module</h2>
        <ul class="list-btn">
            <li><a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a></li>
        </ul>
    </header>
    <div class="win-main" scrollbar="">
        <div class="tabs tabs-bg">
            <div class="tabs-two-col">
                <div class="tab" ng-click="selectTab(TAB_TYPES.SETTINGS)" ng-class="{'tab-active': selectedTab == TAB_TYPES.SETTINGS}">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === TAB_TYPES.SETTINGS}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== TAB_TYPES.SETTINGS}">{{ TAB_TYPES.SETTINGS | i18n:loc.ale:'common' }}</a>
                        </div>
                    </div>
                </div>
                <div class="tab" ng-click="selectTab(TAB_TYPES.SOME_VIEW)" ng-class="{'tab-active': selectedTab == TAB_TYPES.SOME_VIEW}">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === TAB_TYPES.SOME_VIEW}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== TAB_TYPES.SOME_VIEW}">{{ TAB_TYPES.SOME_VIEW | i18n:loc.ale:'exmaple_module' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-paper footer">
            <div class="scroll-wrap">

                <!-- settings -->
                <div class="settings" ng-show="selectedTab === TAB_TYPES.SETTINGS">
                    <table class="tbl-border-light tbl-content tbl-medium-height">
                        <colgroup>
                            <col>
                            <col width="200px">
                            <col width="60px">
                        </colgroup>
                        <tr>
                            <th colspan="3">{{ 'groups' | i18n:loc.ale:'example_module' }}</th>
                        </tr>

                        <tr>
                            <td><span class="ff-cell-fix">{{ 'presets' | i18n:loc.ale:'example_module' }}</span></td>
                            <td colspan="2"><div select="" list="presets" selected="settings[SETTINGS.PRESETS]" drop-down="true"></div></td>
                        </tr>

                        <tr>
                            <td><span class="ff-cell-fix">{{ 'groups' | i18n:loc.ale:'example_module' }}</span></td>
                            <td colspan="2"><div select="" list="groups" selected="settings[SETTINGS.GROUPS]" drop-down="true"></div></td>
                        </tr>

                        <tr>
                            <td><span class="ff-cell-fix">{{ 'some_number' | i18n:loc.ale:'example_module' }}</span></td>
                            <td><div range-slider="" min="settingsMap[SETTINGS.SOME_NUMBER].min" max="settingsMap[SETTINGS.SOME_NUMBER].max" value="settings[SETTINGS.SOME_NUMBER]" enabled="true"></div></td>
                            <td class="cell-bottom"><input type="text" class="fit textfield-border text-center" ng-model="settings[SETTINGS.SOME_NUMBER]"></td>
                        </tr>
                    </table>
                </div>

                <!-- some_view -->
                <div class="rich-text" ng-show="selectedTab === TAB_TYPES.SOME_VIEW">
                    <h5 class="twx-section">some view</h5>
                </div>
            </div>
        </div>
    </div>

    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li ng-show="selectedTab === TAB_TYPES.SETTINGS">
                <a href="#" class="btn-border btn-red" ng-click="saveSettings()">{{ 'save' | i18n:loc.ale:'common' }}</a>
            </li>
            <li ng-show="selectedTab === TAB_TYPES.SOME_VIEW">
                <a href="#" class="btn-border btn-orange" ng-click="someViewAction()">{{ 'some_view_action' | i18n:loc.ale:'example_module' }}</a>
            </li>
            <li>
                <a href="#" ng-class="{false:'btn-green', true:'btn-red'}[running]" class="btn-border" ng-click="switchState()">
                    <span ng-show="running">{{ 'pause' | i18n:loc.ale:'common' }}</span>
                    <span ng-show="!running">{{ 'start' | i18n:loc.ale:'common' }}</span>
                </a>
            </li>
        </ul>
    </footer>
</div>
