<div id="two-builder-queue" class="win-content two-window">
    <header class="win-head">
        <h2>BuilderQueue</h2>
        <ul class="list-btn">
            <li><a href="#" class="size-34x34 btn-red icon-26x26-close" ng-click="closeWindow()"></a></li>
        </ul>
    </header>

    <div class="win-main small-select" scrollbar="">
        <div class="tabs tabs-bg">
            <div class="tabs-three-col">
                <div class="tab" ng-click="selectTab(TAB_TYPES.SETTINGS)" ng-class="{'tab-active': selectedTab == TAB_TYPES.SETTINGS}">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === TAB_TYPES.SETTINGS}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== TAB_TYPES.SETTINGS}">{{ TAB_TYPES.SETTINGS | i18n:loc.ale:textObjectCommon }}</a>
                        </div>
                    </div>
                </div>
                <div class="tab" ng-click="selectTab(TAB_TYPES.PRESETS)" ng-class="{'tab-active': selectedTab == TAB_TYPES.PRESETS}">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === TAB_TYPES.PRESETS}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== TAB_TYPES.PRESETS}">{{ TAB_TYPES.PRESETS | i18n:loc.ale:textObject }}</a>
                        </div>
                    </div>
                </div>
                <div class="tab" ng-click="selectTab(TAB_TYPES.LOGS)" ng-class="{'tab-active': selectedTab == TAB_TYPES.LOGS}">
                    <div class="tab-inner">
                        <div ng-class="{'box-border-light': selectedTab === TAB_TYPES.LOGS}">
                            <a href="#" ng-class="{'btn-icon btn-orange': selectedTab !== TAB_TYPES.LOGS}">{{ TAB_TYPES.LOGS | i18n:loc.ale:textObjectCommon }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box-paper footer">
            <div class="scroll-wrap">
                <div ng-show="selectedTab === TAB_TYPES.SETTINGS">
                    <h5 class="twx-section">{{ 'settings' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="50%">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><span class="ff-cell-fix">{{ 'settings.villageGroups' | i18n:loc.ale:textObject }}</span></td>
                                <td><div select="" list="villageGroups" selected="settings[SETTINGS.GROUP_VILLAGES]" drop-down="true"></div></td>
                            </tr>
                            <tr>
                                <td><span class="ff-cell-fix">{{ 'settings.buildingPreset' | i18n:loc.ale:textObject }}</span></td>
                                <td><div select="" list="presetList" selected="settings[SETTINGS.BUILDING_PRESET]" drop-down="true"></div></td>
                            </tr>
                        </tbody>
                    </table>

                    <h5 class="twx-section">{{ 'settings.buildingOrderFinal' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped header-center building-order-final">
                        <colgroup>
                            <col width="5%">
                            <col width="70%">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="2">{{ 'building' | i18n:loc.ale:textObjectCommon }}</th>
                            <th>{{ 'level' | i18n:loc.ale:textObjectCommon }}</th>
                        </tr>
                        <tr ng-repeat="(building, level) in buildingOrderFinal">
                            <td><span class="building-icon icon-20x20-building-{{ building }}"></span></td>
                            <td>{{ building | i18n:loc.ale:'building_names' }}</td>
                            <td>{{ level }}</td>
                        </tr>
                    </table>

                    <h5 class="twx-section">{{ 'settings.buildingOrder' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped header-center building-order">
                        <colgroup>
                            <col width="5%">
                            <col width="26%">
                            <col width="7%">
                            <col width="13%">
                            <col width="8%">
                            <col>
                        </colgroup>
                        <tr>
                            <th colspan="2">{{ 'building' | i18n:loc.ale:textObjectCommon }}</th>
                            <th>{{ 'level' | i18n:loc.ale:textObjectCommon }}</th>
                            <th>{{ 'duration' | i18n:loc.ale:textObjectCommon }}</th>
                            <th>{{ 'points' | i18n:loc.ale:textObjectCommon }}</th>
                            <th>{{ 'costs' | i18n:loc.ale:textObjectCommon }}</th>
                        </tr>
                        <tr ng-repeat="item in buildingOrder" class="{{ item.state }}">
                            <td><span class="building-icon icon-20x20-building-{{ item.building }}"></span></td>
                            <td>{{ item.building | i18n:loc.ale:'building_names' }}</td>
                            <td>{{ item.level }}</td>
                            <td>{{ item.duration }}</td>
                            <td class="green">+{{ item.levelPoints }}</td>
                            <td>
                                <span class="icon-26x26-resource-wood force-26to20"></span> {{ item.price.wood }}
                                <span class="icon-26x26-resource-clay force-26to20"></span> {{ item.price.clay }}
                                <span class="icon-26x26-resource-iron force-26to20"></span> {{ item.price.iron }}
                            </td>
                        </tr>
                    </table>
                </div>

                <div ng-show="selectedTab === TAB_TYPES.PRESETS">
                    <h5 class="twx-section">{{ 'presets.edit-preset' | i18n:loc.ale:textObject }}</h5>
                    <table class="tbl-border-light tbl-striped ">
                        <colgroup>
                            <col width="50%">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <td><span class="ff-cell-fix">{{ 'presets.select-to-edit' | i18n:loc.ale:textObject }}</span></td>
                                <td><div select="" list="presetList" selected="selectedEditPreset" drop-down="true"></div></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="tbl-border-light tbl-striped header-center building-order-editor">
                        <colgroup>
                            <col width="5%">
                            <col width="7%">
                            <col width="*">
                            <col width="7%">
                            <col>
                        </colgroup>
                        <tr>
                            <th>#</th>
                            <th>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox">
                                    <input type="checkbox" ng-model="checkAllValue" ng-click="checkAll()" />
                                </label>
                            </th>
                            <th>{{ 'building' | i18n:loc.ale:textObjectCommon }}</th>
                            <th>{{ 'level' | i18n:loc.ale:textObjectCommon }}</th>
                        </tr>
                        <tr ng-repeat="item in buildingOrderEditor track by $index" ng-class="{'selected': item.checked}">
                            <td>{{ $index + 1 }}</td>
                            <td>
                                <label class="size-26x26 btn-orange icon-26x26-checkbox" ng-class="{'icon-26x26-checkbox-checked': item.checked}">
                                    <input type="checkbox" ng-model="item.checked" />
                                </label>
                            </td>
                            <td><span class="building-icon icon-20x20-building-{{ item.building }}"></span> {{ item.building | i18n:loc.ale:'building_names' }}</td>
                            <td>{{ item.level }}</td>
                        </tr>
                    </table>
                </div>

                <div ng-show="selectedTab === TAB_TYPES.LOGS">
                    <table class="tbl-border-light tbl-striped header-center">
                        <colgroup>
                            <col width="40%">
                            <col width="30%">
                            <col width="5%">
                            <col width="25%">
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{{ 'village' | i18n:loc.ale:textObjectCommon }}</th>
                                <th>{{ 'building' | i18n:loc.ale:textObjectCommon }}</th>
                                <th>{{ 'level' | i18n:loc.ale:textObjectCommon }}</th>
                                <th>{{ 'started' | i18n:loc.ale:textObjectCommon }}</th>
                            </tr>
                        </thead>
                        <tbody class="buildLog">
                            <tr class="noBuilds">
                                <td colspan="4">{{ 'logs.noBuilds' | i18n:loc.ale:textObject }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <footer class="win-foot">
        <ul class="list-btn list-center">
            <li ng-show="selectedTab === TAB_TYPES.SETTINGS">
                <a href="#" class="btn-border btn-orange" ng-click="saveSettings()">{{ 'save' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
            <li ng-show="selectedTab === TAB_TYPES.SETTINGS">
                <a href="#" ng-class="{false:'btn-green', true:'btn-red'}[running]" class="btn-border" ng-click="switchBuilder()">
                    <span ng-show="running">{{ 'pause' | i18n:loc.ale:textObjectCommon }}</span>
                    <span ng-show="!running">{{ 'start' | i18n:loc.ale:textObjectCommon }}</span>
                </a>
            </li>
            <li ng-show="selectedTab === TAB_TYPES.LOGS">
                <a href="#" class="btn-border btn-orange" ng-click="clearLogs()">{{ 'clear_logs' | i18n:loc.ale:textObject }}</a>
            </li>

            <li ng-show="selectedTab === TAB_TYPES.PRESETS">
                <a href="#" class="btn-border btn-orange" ng-click="moveUp()">{{ 'presets.move-up' | i18n:loc.ale:textObject }}</a>
            </li>
            <li ng-show="selectedTab === TAB_TYPES.PRESETS">
                <a href="#" class="btn-border btn-orange" ng-click="moveDown()">{{ 'presets.move-down' | i18n:loc.ale:textObject }}</a>
            </li>
            <li ng-show="selectedTab === TAB_TYPES.PRESETS">
                <a href="#" class="btn-border btn-green" ng-click="addBuilding()">{{ 'presets.add-building' | i18n:loc.ale:textObject }}</a>
            </li>
            <li ng-show="selectedTab === TAB_TYPES.PRESETS">
                <a href="#" class="btn-border btn-red" ng-click="saveBuildingOrder()">{{ 'save' | i18n:loc.ale:textObjectCommon }}</a>
            </li>
        </ul>
    </footer>
</div>
