#two-builder-queue {
    tr.reached td {
        background-color: #b9af7e;
    }

    tr.progress td {
        background-color: #af9d57;
    }

    .building-order,
    .building-order-final,
    .building-order-editor {
        td {
            text-align: center;
        }
    }

    .settings,
    .preset-editor {
        tr.selected td {
            background-color: #ada57f;
        }

        .selected-preset {
            margin-top: 15px;
        }
        
        .custom-select {
            width: 200px;
        }
    
        .helper {
            font-weight: bold;
            vertical-align: -1px;
            font-family: helvetica;
            color: rgba(0, 0, 0, 0.3);

            &:hover {
                color: #000;
            }
        }

        td {
            text-align: center;
        }

        .green {
            color: #297720;
        }
    }

    .buildLog {
        td {
            text-align: center;
        }
        
        .village:hover {
            color: #fff;
            text-shadow: 0px 1px 0 #000;
        }
    }

    table.header-center th {
        text-align: center;
    }

    .noBuilds td {
        height: 26px;
        text-align: center;
    }

    .force-26to20 {
        transform: scale(0.8);
        width: 20px;
        height: 20px;
    }
}
