#two-builder-queue {
    tr.reached td {
        background-color: #b9af7e;
    }

    tr.progress td {
        background-color: #af9d57;
    }

    .building-order,
    .building-order-final,
    .building-order-editor {
        td, th {
            text-align: center;
        }

        margin-bottom: 10px;
    }

    .building-order-editor {
        .selected td {
            background-color: #b9af7e;
        }
    }

    .editor-select-preset {
        margin-bottom: 13px;
    }
}
