#two-builder-queue {
    tr.reached td {
        background-color: #b9af7e;
    }

    tr.progress td {
        background-color: #af9d57;
    }

    .building-sequence,
    .building-sequence-final,
    .building-sequence-editor {
        td, th {
            text-align: center;
        }

        margin-bottom: 10px;
    }

    .building-sequence-editor {
        .selected td {
            background-color: #b9af7e;
        }
    }

    .editor-select-sequence {
        margin-bottom: 13px;
    }
}

#add-building-modal {
    td {
        text-align: center;
    }

    .select-wrapper {
        width: 250px;
    }

    input[type="text"] {
        width: 60px;
    }
}
